@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300;1,400&family=Mukta:wght@200&family=Oleo+Script+Swash+Caps&family=Source+Serif+4:opsz@8..60&family=Syne+Mono&display=swap');
body {
    font-family: Aleo, sans-serif;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    margin-top: -20px;
}
header {
    background-color:blanchedalmond;
    opacity: 0.90;
    padding: 10px 15px;
    height: 110px;
    position: fixed;
    width: 100vw;
    top: 20px;
    margin-top: -30px;
}
h1 {
    text-align: center; 
    padding: 20px; 
    background-color: DarkSalmon;
    font-style: italic;
    font-size: 50px;
    font-weight: 600;
    color: maroon;
    height: 20px;
    margin-top: auto;
    background-image: url(../images/moldova-flag.jpg);
    background-repeat: no-repeat;
}
h2 {
    font-size: 35px;
    font-weight: 300;
    color: brown;
}
.img-background {
    background-image: url(../images/programming_img.jpg);
    margin-left: 20px;
    background-repeat: no-repeat;
}
.img-background::before {
    background-color: honeydew;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-nav li {
    background-color:darkred;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: -20px;
    width: 105px;
    display: inline-block;
    margin: -1.4em 2em;
    height: 25px;
}
.main-nav a {
    color: wheat;
    text-decoration: none;
}
.main-nav li:hover {
    background-color: brown;
}
.container-experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
}
.container-experience li {
    list-style-type: none;
    padding-left: 20px;
    background-image: url(../images/block.jpg);
    background-position: 0 0;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
#skills li {
    list-style-type: none;
    padding-left: 20px;
    background-image: url(../images/star.jpg);
    background-position: 0 0;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
label {
    color: #B22222;
    font-size: 18px;
}
input {
    font-size: 14px;
    padding: 5px;
    border: 2px groove #B22222;
    margin-bottom: 15px;
}
textarea {
    font-size: 14px;
    width: 450px;
    height: 80px;
    padding: 10px 20px;
    border: 2px groove #B22222;
}
#connect a:link {
    color: brown;
}
#connect a:hover {
    color: aliceblue;
}
#connect a:visited {
    color: antiquewhite;
}
#connect a:visited {
    color: chocolate;
}
img {
    width: 132px;
    height: 182px;
    border: 3px groove #B22222;
    float: right;
}
section {
    margin-left: 40px;
    padding-bottom: 10px;
}
button {
    background-color: lightsteelblue;
    border: none;
    border-radius: 16px;
    color: gray;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: brown;
    color: white;
}
#messages li {
    list-style-type: none;
    padding-left: 20px;
    background-image: url(../images/tick.jpg);
    background-position: 0 0;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
#messages button {
    background-color: cadetblue;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    margin-left: 5px;
}
#messages button:hover {
    background-color: brown;
    color: white;
    text-decoration: underline;
}
#messages a:hover {
    color: blue;
}
#personal {
    margin-top: 10rem;
    width: 900px;
    padding-top: 20px;
}
#connect {
    background-color: blanchedalmond;
    width: 340px;
    height: 270px;
    float: right;
    padding: 20px;
    margin-top: 30px;
    margin-right: 150px;
    border-style: double;
    border-width: 5px;
}
#connect li:hover {
    background-color: brown;
    width: 145px;
}
.leave-message-box {
    margin-left: 40px;
}
.grid-message {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 40px;
    grid-gap: 25px;
}
.project_class {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-row-gap: 20px;
    margin-bottom: -30px;
}
#projects h2 {
    height: 95px;
    margin-left: -40px;
    padding-left: 40px;
    padding-top: 20px;
    width: 100vw;
    background-color: white;
}
.project_class li {
    background-color: white;
    width: 100vw;
    height: 80px;
    margin-top: -80px;
    margin-left: -80px;
    padding-left: 35px;
    list-style-type: none;
    font-size: 14px;
    background-image: url(../images/github.jpg);
    background-position: 0 0;
    background-size: 25px 20px;
    background-repeat: no-repeat;
}
footer {
    text-align: center;
    background-color: DarkSalmon;
    height: 25px;
}

/* --------------------------MEDIA QUERIES------------------------------------------- */
@media only screen and (min-width: 120px) and (max-width: 468px) {
    body {
        width: 100%;
        background-color: azure;
        font-size: 10px;
        line-height: 12px;
        text-align: justify;
        margin-top: -140px;
        margin-left: 0px;
    }
    header h1 {
        font-size: 18px;
        text-align: center;
        margin-right: 5px;
        height: 2px;
        background-image: none;
    }
    section h2 {
        font-size: 15px;
    }
    #personal h2 {
        margin-left: -10px;
    }
    .main-nav {
        display: grid;
        grid-template-columns: 70px 70px;
        grid-template-rows: 8px 8px;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
        margin-top: -16px;
        margin-left: 120px;
    }
    .main-nav li {
        padding: 1px 1px;
        font-size: 8px;
        width: 80px;
        height: 12px;
        margin-top: 5px;
        margin-left: -140px;
    }
    header {
        height: 70px;
        margin-left: -15px;
    }
    h1 {
        font-size: 28px;
        text-align: right;
        margin-right: 40px;
    }
    h2 {
        font-size: 25px;
    }
    label {
        font-size: 16px;
    }
    .grid-message {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px;
        grid-gap: 25px;
    }
    textarea {
        font-size: 14px;
        width: 250px;
        height: 100px;
        padding: 5px 5px;
        border: 2px groove #B22222;
    }
    section {
        margin-left: 5px;
        padding-bottom: 2px;
    }
    section li {
        margin-left: -30px;
    }
    #personal {
        width: 90%;
        padding-top: 20px;
        padding-left: 10px;
        margin-top: 210px;
    }
    .img-background {
        background-image: none;
    }
    #connect {
        width: 250px;
        height: 118px;
        float: left;
        margin-bottom: 25px;
        margin-left: 10px;
        padding-top: 3px;
    }
    #connect li {
        font-size: 14px;
        line-height: 25px;
    }
    img {
        width: 70px;
        height: 90px;
    }
    #message h2 {
        margin-top: 150px;
        margin-bottom: 20px;
        height: 65px;
        width: 120px;
        margin-left: 60px;
    }
    #message li {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #message label {
        font-size: 12px;
    }
    footer {
        padding-top: 2px;
        height: 30px;
        color: #B22222;
    }
    #message li {
        text-align: left;
    }
    #projects h2 {
        background-color: inherit;
    }
    .project_class li {
        margin-left: -20px;
        background-color: inherit;
    }
}

@media only screen and (min-width: 468px) and (max-width:768px) {
    body {
        width: 100%;
        background-color:white;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        margin-left: -20px;
        margin-top: -60px;
    }
    header h1 {
        background-image: url(../images/moldova-flag.jpg);
        background-repeat: no-repeat;
        height: 10px;
        font-size: 35px;
        text-align: right;
    }
    .main-nav {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 20px 5px;
        grid-row-gap: 10px;
        grid-column-gap: 30px;
        width: 100%;
        margin-top: -33px;
    }
    .main-nav li {
        padding: 1px 1px;
        font-size: 12px;
        width: 110px;
        height: 20px;
        margin-top: 15px;
        margin-left: -50px;
    }
    header {
        height: 100px;
    }
    #message h2 {
        text-align: left;
    }
    h2 {
        font-size: 20px;
    }
    label {
        font-size: 14px;
    }
    #connect {
        width: 210px;
        height: 160px;
        float: left;
        margin-bottom: 25px;
        margin-right: 30px;
    }
    #connect li {
        font-size: 14px;
        margin-left: -25px;
        line-height: 35px;
        width: 100px;
    }
    #connect li:hover {
        background-color: bisque;
        font-weight: bold;

    }
    #personal {
        width: 85%;
    }
    #personal p {
        margin-right: -40px;
    }
    .img-background {
        background-image: none;
    }
    img {
        width: 70px;
        height: 90px;
    }
    .grid-message {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px;
        grid-gap: 25px;
    }
    textarea {
        width: 145px;
    }
    button {
        position: absolute;
        margin-left: 320px;
        height: 30px;
        font-size: 14px;
        padding: 5px;
    }
    #messages li {
        margin-bottom: 20px;
        margin-left: -55px;
    }
    #editButton1 {
        margin-right: 10px;
        position: relative;
    }
    #removeButton2 {
        display: block;
    }
    .project_class li {
        margin-left: 0px;
    }
}  

@media only screen and (min-width: 768px) and (max-width:1024px) {
    body {
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
        margin-top: -50px;
    }
    header {
        height: 95px;
    }
    .main-nav {
        margin-top: -25px;
        grid-column-gap: 10px;
    }
    .main-nav li {
        padding: 3px 5px;
        font-size: 12px;
        width: 80px;
        height: 30px;
        margin-left: -20px;
        margin-top: 10px;
    }
    .img-background {
        margin-left: 20px;
    }
    textarea {
        font-size: 12px;
        width: 350px;
    }
    section {
        margin-left: 10px;
        padding-bottom: 5px;
    }
    #personal {
        width: 90%;
        padding-top: 20px;
        padding-left: 10px;
    }
    #connect {
        width: 220px;
        height: 180px;
        float: right;
        padding: 20px;
        margin-top: 40px;
        margin-right: 20px;
        border-style: double;
        border-width: 5px;
    }
    #connect li {
        font-size: 14px;
        width: 100px;
    }
    img {
        width: 70px;
        height: 90px;
    }
    h1 {
        font-size: 28px;
        text-align: center;
    }
    #messages li {
        margin-bottom: 20px;
    }
    #projects h2 {
        height: 205px;
        margin-bottom: -90px;
    }
    .project_class li {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1180px) {
    textarea {
        width: 350px;
    }
    #connect {
        margin-right: 20px;
    }
}

@media print {
    #connect {
        width: 220px;
        height: 160px;
        margin-bottom: 25px;
    }
    #connect li {
        font-size: 14px;
    }
    img {
        width: 70px;
        height: 90px;
    }
    #connect {
        margin-top: 250px;
    }
    textarea {
        width: 400px;
        margin-top: 130px;
    }
    footer {
        margin-top: 800px;
    }
}