@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;1,300;1,400&family=Mukta:wght@200&family=Oleo+Script+Swash+Caps&family=Source+Serif+4:opsz@8..60&family=Syne+Mono&display=swap');

body {
    background-color: honeydew;
    color: maroon;
    font-family: Aleo, sans-serif;
    font-size: 18px;
}

h1 {
    text-align:center; 
    padding: 2px; 
    background-color: DarkSalmon;
    font-size: 50px;
    font-weight:600;
    color:maroon;
}

h2 {
    font-size: 35px;
    font-weight:300;
    color:brown;
}

ul li {
    list-style-type: none;
    padding-left: 20px;
    background-image: url(../images/block.jpg);
    background-position: 0 0;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

#skills li {
    list-style-type: none;
    padding-left: 20px;
    background-image: url(../images/star.jpg);
    background-position: 0 0;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

label {
    color:#B22222;
    font-size:18px;
}

input {
    font-size: 14px;
    padding: 5px;
    border: 2px groove #B22222;
    margin-bottom: 15px;
}

textarea {
    font-size: 14px;
    width: 25%;
    height: 120px;
    padding: 10px 20px;
    border: 2px groove #B22222;
}

img {
    float: right;
    width: 280px;
    height: 400px;
    border-style: groove;
    border-color: #B22222;
}

section {
    margin-left: 40px;
    padding-bottom: 10px;
}

button {
    background-color: lightsteelblue;
    border: none;
    border-radius: 16px;
    color:gray;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: brown;
    color: white;
}

#messages li {
    list-style-type: none;
    padding-left: 20px;
    background-image: url(../images/tick.jpg);
    background-position: 0 0;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

#messages button {
    background-color:cadetblue;
    border: none;
    border-radius: 8px;
    color:black;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
}

#messages button:hover {
    background-color: brown;
    color: white;
    text-decoration: underline;
}

footer {
    text-align:center;
    padding: 2px;
    background-color: DarkSalmon;
}

@media only screen and (max-width: 768px) {
    body {
      width: 100%;
      background-color: bisque;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color:honeydew;
      }
}